*.class

# Intellij Project Files
*.iml
*.idea

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/azure-pixeltracker-core/target
/azure-pixeltracker-server/target
/cortana-pixeltracker-server/target
/cortana-pixeltracker-server/dependency-reduced-pom.xml
/cortana-pixeltracker-core/target/maven-archiver
